<!DOCTYPE html>
<html lang="en">
<head>
    <center>
        <h1>Welcome to MovieDB</h1>
    </center>
</head>
<body>

<form action="/audience-login" class="inline">
    <button class="float-left submit-button" >Audience Login</button>
</form>

<form action="/director-login" class="inline">
    <button class="float-left submit-button" >Director Login</button>
</form>

<form action="/manager-login" class="inline">
    <button class="float-left submit-button" >Database Manager Login</button>
</form>

</body>
</html>