<!DOCTYPE html>
<html lang="en">
<head>
    <center>
        <h1>Audience Homepage</h1>
    </center>
</head>
<body>

<form action="/view-all-movies" class="inline">
    <button class="float-left submit-button" >View All Movies</button>
</form>    

<form action="/buy-ticket" class="inline">
    <button class="float-left submit-button" >Buy a Ticket</button>
</form> 

<form action="/bought-tickets" class="inline">
    <button class="float-left submit-button" >Bought Tickets</button>
</form> 


<a href="/">Log Out</a>

</body>
</html>