{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <center>
        <h1>Buy a Ticket</h1>
    </center>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-around">
                {% if purchase_fail %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Purchase unsuccessful.</h4>
                        <p>Check the information and try again.</p>
                    </div>
                {% endif %}
                <form class="form-group" method="POST" novalidate action="{% url 'buy_ticket' %}">
                    <label for="username"><b>Session ID</b></label>
                    <input type="text" placeholder="" name="session_id" required>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Buy Ticket</button>
                </form>
            </div>
        </div>
    </div>    

<a href="/audience-home">Return to homepage</a>

</body>
</html>

