<!DOCTYPE html>
<html lang="en">
<head>
    <center>
        <h1>Database Manager Homepage</h1>
    </center>
</head>
<body>

<form action="/delete-audience" class="inline">
    <button class="float-left submit-button" >Delete Audience User</button>
</form>

<form action="/delete-director" class="inline">
    <button class="float-left submit-button" >Delete Director User</button>
</form>

<form action="/add-audience" class="inline">
    <button class="float-left submit-button" >Add Audience User</button>
</form>

<form action="/add-director" class="inline">
    <button class="float-left submit-button" >Add Director User</button>
</form>

<form action="/update-platform" class="inline">
    <button class="float-left submit-button" >Update Director Platform</button>
</form>

<form action="/view-directors" class="inline">
    <button class="float-left submit-button" >View All Directors</button>
</form>

<form action="/view-ratings" class="inline">
    <button class="float-left submit-button" >View Ratings</button>
</form>

<form action="/view-movies" class="inline">
    <button class="float-left submit-button" >View Movies</button>
</form>

<form action="/view-average-rating" class="inline">
    <button class="float-left submit-button" >View Average Rating of a Movie</button>
</form>

<a href="/">Log Out</a>

</body>
</html>