{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <center>
        <h1>View Movies</h1>
    </center>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-around">
                {% if view_fail %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Couldn't find movies.</h4>
                        <p>Check the username and try again.</p>
                    </div>
                {% endif %}
                <form class="form-group" method="POST" novalidate action="{% url 'view_movies' %}">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="" name="username" required>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Show Movies</button>
                </form>
            </div>
        </div>
    </div>    


    {% if movie_data %}
    <table>
        <thead>
          <tr>
            <th>Movie ID</th>
            <th>Movie Name</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movie_data %}
          <tr>
            <td>{{ movie.0 }}</td>
            <td>{{ movie.1 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

<a href="/manager-home">Return to homepage</a>

</body>
</html>