<!DOCTYPE html>
<html lang="en">
<head>
    <center>
        <h1>Director Homepage</h1>
    </center>
</head>
<body>

<form action="/add-movie" class="inline">
    <button class="float-left submit-button" >Add a Movie</button>
</form>

<form action="/add-predecessor" class="inline">
    <button class="float-left submit-button" >Add Predecessor Movie</button>
</form>

<form action="/update-name" class="inline">
    <button class="float-left submit-button" >Update Movie Name</button>
</form>

<form action="/view-directed-movies" class="inline">
    <button class="float-left submit-button" >View Directed Movies</button>
</form>

<form action="/view-audience" class="inline">
    <button class="float-left submit-button" >View Audience</button>
</form>

<a href="/">Log Out</a>

</body>
</html>